{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Update Request{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required>
        <label for="reward">Reward</label>
        <input name="reward" id="reward" value="{{ request.form['reward'] or chore['reward'] }}">
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('board.deleterequest', groupid=groupid, choreid=chore['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}
